<form asp-controller="Account" asp-action="ForgotPassword" method="POST">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="h3">Şifremi Unuttum</h1>
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >E-posta</span>
                    </div>
                    <input type="text" class="form-control" type="email" name="Email">
                </div>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </div>
        </div>
    </div>
</form>

